<!DOCTYPE html>
<html>  
<head>
    <meta charset="utf-8"/>
    <title> The gym -Personal Training</title>
    <meta name="view port" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/blueberry.css">
    <link rel="stylesheet" href="../static/stylesheet1.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="../static/jquery.blueberry.js"></script>

<script>
$(window).load(function() {
	$('.blueberry').blueberry();
});
</script>
    </head>
<body>
    <header>
    <a href="/" id="logo"></a>
        <nav>
        <a href="/" id="menu-icon"></a>
            <ul>
            
            <li> <a href="/" >Home</a></li>
                <li> <a href="/online-registration" >Registration Online</a></li>
            <li> <a href="/trainers" >Trainers</a></li>
            <li> <a href="/plans" >Plans</a></li>
            <li> <a href="/facility" >Facility</a></li>
            <li> <a href="/contact-us" class="current">Contacts</a></li>
            </ul>
        
        </nav>
    </header>
    <div id="doc">
  <div id="content">

<!-- blueberry -->

    <div class="blueberry">
      <ul class="slides">
        <li><img src="../static/logo.jpg"></li>
        <li><img src="../static/lifting.jpg" /></li>
        <li><img src="../static/ladies.jpg" /></li>
          <li><img src="../static/machines.jpg" /></li>          
          <li><img src="../static/lifter.jpg"/></li>
        <li><img src="../static/dumbel.jpg" /></li>
      </ul>
    </div>


<!-- blueberry -->

  </div>
</div>
    <section>
    <li><img src="../static/trainers.png"></li> 
        <h1>Best Trained Around!</h1>
        <p>Here at the Gym we have the best training staff in the faisalabad area as we seek out and recruit talented trainers with all the right certifications.Come in today and have a sit down with one of our trainers so we can help you meet your goals in the fastest way possible.
            <br></p>
    </section>
    <section>
    <li><img src="../static/location.png"></li> 
        <h1>Local and Convenient!</h1>
        <p>Our location sits near the center of four mojor roadway exits making it very  convenient for gym goers and personal training clients to get their workouts in before or after work, even on a short lunch break.  </p>
    </section>
    <section>
    <li><img src="../static/check.png"></li> 
        <h1>Check Us Out-Free!</h1>
        <p>To show how confident we are in our facilities and their satisfying the needs of our clients, we offer a free two week pass so anyone interested can first get a feel for our gym and decide weather or not they'd like to join. Call or come in today for your free pass!<br></p>
    </section>
    <div class="clear"></div>
    <article>
        <img src="../static/gym-classes.jpg">
        
        </article>
    <aside>
    <h2> Our Group Class Schedule:</h2>
        <ul class="gym">
            <li> <h3>Studio Cycling at 8 a.m. -60 minutes </h3></li> 
            <li> <h3> Abs Sculpting at 12 p.m. - 30 minutes</h3></li> 
            <li> <h3>Power Yoga at 10 a.m. - 60 minutes</h3></li> 
            <li> <h3>Boot Camp at 2 p.m.- 30 minutes</h3></li> 
            <li> <h3>Butt Sclupting at 4 p.m. - 60 minutes</h3></li>
        </ul>
    </aside>
    <div class="clear"></div>
    <section>
    <li> 
        <h1>Ladies Section</h1>
        <img src="../static/ladies-gym.jpg">
        <p>Included in our facilty is a "ladies only"  <br>section of the gym where women can waorkout to themselves.<br>
            </p>
    </section>
        <section>
    
        <h1>The Gym Floor</h1>
            <img src="../static/gym-floor.jpg"> 
        <p><br> Enjoy scenic views from the cardio equipment on the third floor.</p>
    </section>
        <section>
     
        <h1>Free Weights</h1>
            <img src="../static/free-weights.jpg">
        <p>Our free weights section has an<br>
            extensive collection of dumbbells and olympic plates for body building.</p>
    </section>
        <footer>
    <section>
            <img src="../static/the-gym.png">
        <p><b>0334-6375743<br>0300-6568628</b></p><br><br>
        <p>The Gym by Kitzua<br> group street 6<br> faisalabad road,<br> FaisalAbad<br>
        kitzua@thegym.com
            </p></section>
    <section>
            <h3> Connect With Us</h3>
        <ul class="social">
            <li><a href="https://facebook.com"><img src="../static/facebook1.png"></a></li>
            <li><a href="https://twitter.com"><img src="../static/twitter1.png"></a></li>
            <li><a href="https://plus.google.com"><img src="..static/googleplus.png"></a></li>
            <li><a href="https://youtube.com"><img src="../static/youtube1.png"></a></li>
            
            
    </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3417.5142842693795!2d72.96411381441048!3d31.06761857646795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3922f1a174b63239%3A0xd6d80c693f46ef99!2sFaisalabad+Road%2C+Samundri%2C+Pakistan!5e0!3m2!1sen!2s!4v1486808380570" width="300" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
            </section>
                       <img id="last" src="../static/weight-lifter.png">
            <section>
            </section>
            
    </footer>
    <footer class="second">
    <p>@Copyright The Gym,2017</p>
    </footer>
    
    
</body>
</html>